html {
    height: 100%;
}

body {
  background-color: #ddd;
  background-image: url("@/assets/setup_back.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.settings {
  margin-left: 10%;
  margin-top: 10%;
  max-width: 50%;
  padding: 20px;
  border-left: 3px solid #aaa;
}

.settings h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: #aaa;
  margin-bottom: 30px;
}

.settings p {
  color: #777;
}

.settings label {
  text-transform: uppercase;
  color: #aaa;
}

.settings .btn-primary {
  background-color: #00c3ac;
  border-color: #00c3ac;
  width: 100px;
  float: right;
  text-transform: uppercase;
}

.settings .btn-primary:active {
  background-color: #00a18f;
  border-color: #00c3ac;
  width: 100px;
  float: right;
  text-transform: uppercase;
}

.settings .form-group {
  margin-bottom: 30px;
}